
.aside {
    gap: 8px 8px;
    margin-right: 10pxnpm run watch-css;
    grid-area: aside;
    padding:5px;
    margin:10px;
    display: flex;
    flex-direction: column;
    background: #a27b5c;
    background: radial-gradient(circle, rgba(162,123,92,1) 10%, rgba(44,54,57,1) 85%);
    border-radius: 20px;
    div{
  
        padding: 30px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(63, 78, 79);
        color:white;
    }


}