.footer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80%;
    padding: .1px;
    grid-area: footer;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    background: rgb(162,123,92);
    background: linear-gradient(0deg, rgba(162,123,92,0.928921568627451) 30%, rgba(44,54,57,1) 95%);
    h2{
        color: white;
        padding: 2px;
        } 
    p{
        padding: 1px;
        font-size: 24px;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{ 
            text-decoration: underline;
        }
    }
    

}