.footer{
    width: 30%;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
    background: $colorbg;
    background: linear-gradient(180deg,$colorbg 36%,rgba(44, 54, 57, 0.7958365475096288) 68%);
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    h2{
        color: white;
        margin-left: 12px;
        margin-block-end: 5px;
    } 
    p{
        margin: 0px 0px 0px 20px;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{ 
            text-decoration: underline;
        }
    }
    

}