.header {
        grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(162, 123, 92);
  background: linear-gradient(
    180deg,
    rgba(162, 123, 92, 1) 36%,
    rgba(44, 54, 57, 0.7958365475096288) 68%);
  font-family: "Oswald", sans-serif;
  img {
    width: 150px;
    padding: 2px;
    display: flex;
    justify-content: center;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    float: right;\
    
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-size: 36px;
      padding-left: 20px;
      margin-left: 20px;
      float: left;
      li {
        padding-left: 20px;
        margin-left: 20px;
        
        & a {
          text-decoration: none;
          color: rgb(220, 215, 201);
          &:hover {
            color: black;
            background-color: rgb(227, 204, 174);
            border-radius: 50%;
            text-decoration: underline;
            opacity: 70%;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
          }
        }
      }
    }
  }
}
