
.mainNosotros{
    color: white;
    grid-area: main;
    font-family: 'Inconsolata', monospace;
    display: flex;
    width: 60rem;
    margin: auto 300px;
    flex-direction: column;
    grid-area: 20px;
    background:$colorbg;
    background: linear-gradient(180deg, $colorbg 36%, rgba(44,54,57,0.7958365475096288) 68%);
    background-color: gray;
    margin: 15px;
    padding-inline-start: 10px;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    p{
        align-items: center;
    }
}