.mainNoticias{
    width: 70rem;
    margin-top:50rem;
    grid-area: main;
    display: flex;
    margin: 20px;
    background: $colorbg;
    background: linear-gradient(180deg, $colorbg 36%, rgba(44,54,57,0.7958365475096288) 68%);
    flex-direction: column;
    margin: 30px;
    padding-inline-start: 10px;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    section{
        color: aliceblue;
        padding:20px;
        margin:20px ;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        background: a27b5c;
        background: radial-gradient(circle, $colorbg 10%, rgba(44,54,57,1) 85%); 
        
    }
    h3{
        font-size: 20px;
    }
    p{
        padding: 20px;
        font-size: 16px;
    }
}