.mainProductos{
    color: aliceblue;
    grid-area: main;
    width: 60rem;
    margin-top:50rem;
    grid-area: main;
    display: flex;
    margin: 20px;
    background: $colorbg;
    background: linear-gradient(180deg, $colorbg 36%, rgba(44,54,57,0.7958365475096288) 68%);
    flex-direction: column;
    margin: 30px;
    padding-inline-start: 10px;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    .menuVenta{
        font-family: 'Inconsolata', monospace;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        & img{
            width: 200px;
            min-height: 150px;
            opacity: none;
            border-radius: 30%;
            -webkit-border-radius: 30%;
            -moz-border-radius: 30%;
            -ms-border-radius: 30%;
            -o-border-radius: 30%;
            border-color: black;
            border-style: double;
        }
    }
}

