@media only screen and (min-wdth:740px){
    body{
        display: grid; 
     grid-auto-columns: 1fr; 
     grid-template-columns: 1fr 1fr; 
     grid-template-rows: 0.5fr 1.5fr 1.3fr 1.2fr 0.5fr; 
     gap: 0% 0%; 
     grid-template-areas: 
      "header header"
      "section main"
      "section main"
      "aside aside"
      "footer footer";
}
}