.filtroProductos{
    color:aliceblue;
    justify-self: left;
    padding: 20px;
    margin: 3%;
    margin-top: 20px;
    margin-block-end: auto;
    justify-content: left;
    ul{
        list-style: none;
        justify-content: left;
        li{
            font-style: none;
         
        }   
    }
}