*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@import "var";
@import "body";
@import "header";
@import "article";
@import "sectionProductos";
@import "main";
@import "mainProductos";
@import "mainNoticias";
@import "mainNosotros";
@import "mainContactanos";
@import "aside";
@import "footer";
@import "responsive";

